// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*{
    background-color: aliceblue; 
}

input:disabled{
    background-color: inherit !important;
}